<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="stylesheets/home.css">
<div class="ui main text container">
	<h1 class="ui centered huge header">
		About The Author
	</h1>
	<hr>
	<h2 class="ui centered header">
		Manali Biswas		
	</h2>
	<div class="ui top attached">
		<div class="item">
			<img class="ui centered circular image" src="https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
		</div>
		<div class="description">
			<p>
				Hi! I am Manali, a Computer Engineering sophomore at Delhi Technological University. I love
			coding and building websites. Apart from that, I love to write. I have written content for various 			events at University and high school. But my best essays are on abstract topics, nature, emotional and spiritual stuff.
			</p>
			<p>
				So, introducing myself in a few words would be like this. I am winsome, taciturn, intrepid and infallible. And on the way to be a dabster of all spheres of my life. This is how I view myself!
			</p>
		</div>
	</div>
	
	
	
</div>
<%- include("partials/footer.ejs")%>
