body{
	background-image:url("https://images.unsplash.com/photo-1513542789411-b6a5d4f31634?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80");
	
}

i.icon{
	font-size:2em;
}



.show{
	
	opacity:1;
	
}

.disable{
	display:none;
	
}

.container.main{
	margin:5em;
}

img{
	width:30em;
}

#delete{
	display:inline;
}